In [1]:
# Importing python libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# To make all outputs show
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
file_1= r'D:\Project\Project_material\Accident_Information.csv'
file_2= r'D:\Project\Project_material\Vehicle_Information.csv'

report_1 = pd.read_csv(file_1,  encoding='unicode_escape',index_col = 0, low_memory = False)
report_2 = pd.read_csv(file_2, encoding = 'unicode_escape', index_col = 0, low_memory = False)

In [3]:
report_1.head(4)
report_2.head(4)

,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Control,...,Police_Force,Road_Surface_Conditions,Road_Type,Special_Conditions_at_Site,Speed_limit,Time,Urban_or_Rural_Area,Weather_Conditions,Year,InScotland
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00001,A,3218.0,NaN,0.0,Serious,NaN,2005-01-04,Tuesday,1.0,Data missing or out of range,...,Metropolitan Police,Wet or damp,Single carriageway,NaN,30.0,17:42,Urban,Raining no high winds,2005,No
200501BS00002,B,450.0,C,0.0,Slight,NaN,2005-01-05,Wednesday,1.0,Auto traffic signal,...,Metropolitan Police,Dry,Dual carriageway,NaN,30.0,17:36,Urban,Fine no high winds,2005,No
200501BS00003,C,0.0,NaN,0.0,Slight,NaN,2005-01-06,Thursday,1.0,Data missing or out of range,...,Metropolitan Police,Dry,Single carriageway,NaN,30.0,00:15,Urban,Fine no high winds,2005,No
200501BS00004,A,3220.0,NaN,0.0,Slight,NaN,2005-01-07,Friday,1.0,Data missing or out of range,...,Metropolitan Police,Dry,Single carriageway,NaN,30.0,10:35,Urban,Fine no high winds,2005,No

,Age_Band_of_Driver,Age_of_Vehicle,Driver_Home_Area_Type,Driver_IMD_Decile,Engine_Capacity_.CC.,Hit_Object_in_Carriageway,Hit_Object_off_Carriageway,Journey_Purpose_of_Driver,Junction_Location,make,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200401BS00001,26 - 35,3.0,Urban area,4.0,1588.0,NaN,NaN,Data missing or out of range,Data missing or out of range,ROVER,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,2,109,Data missing or out of range,Front,2004
200401BS00002,26 - 35,NaN,Urban area,3.0,NaN,NaN,NaN,Data missing or out of range,Data missing or out of range,BMW,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,109,Data missing or out of range,Front,2004
200401BS00003,26 - 35,4.0,Data missing or out of range,NaN,998.0,NaN,NaN,Data missing or out of range,Data missing or out of range,NISSAN,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Turning right,1,109,Data missing or out of range,Front,2004
200401BS00003,66 - 75,NaN,Data missing or out of range,NaN,NaN,NaN,NaN,Data missing or out of range,Data missing or out of range,LONDON TAXIS INT,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,2,109,Data missing or out of range,Front,2004

In [4]:
# Inner merge the 2 files into 1 dataset (on Accident_Index column)
dataset = report_1.merge(report_2, on='Accident_Index', how='inner')
dataset.head()

,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Control,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year_y
Accident_Index,,,,,,,,,,,,,,,,,,,,,
200501BS00002,B,450.0,C,0.0,Slight,NaN,2005-01-05,Wednesday,1.0,Auto traffic signal,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Slowing or stopping,1,Bus or coach (17 or more pass seats),No,Nearside,2005
200501BS00003,C,0.0,NaN,0.0,Slight,NaN,2005-01-06,Thursday,1.0,Data missing or out of range,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead right-hand bend,1,Bus or coach (17 or more pass seats),No,Nearside,2005
200501BS00004,A,3220.0,NaN,0.0,Slight,NaN,2005-01-07,Friday,1.0,Data missing or out of range,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Car,No,Front,2005
200501BS00005,Unclassified,0.0,NaN,0.0,Slight,NaN,2005-01-10,Monday,1.0,Data missing or out of range,...,Skidded,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Motorcycle 125cc and under,No,Front,2005
200501BS00006,Unclassified,0.0,NaN,0.0,Slight,NaN,2005-01-11,Tuesday,1.0,Data missing or out of range,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Moving off,1,Car,No,Did not impact,2005

In [5]:
# Getting rid of the accident index, as it is irrelevant to the analysis
dataset.reset_index(inplace = True, drop = True)
dataset.head()
dataset.shape

,1st_Road_Class,1st_Road_Number,2nd_Road_Class,2nd_Road_Number,Accident_Severity,Carriageway_Hazards,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Control,...,Skidding_and_Overturning,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year_y
0,B,450.0,C,0.0,Slight,NaN,2005-01-05,Wednesday,1.0,Auto traffic signal,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Slowing or stopping,1,Bus or coach (17 or more pass seats),No,Nearside,2005
1,C,0.0,NaN,0.0,Slight,NaN,2005-01-06,Thursday,1.0,Data missing or out of range,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead right-hand bend,1,Bus or coach (17 or more pass seats),No,Nearside,2005
2,A,3220.0,NaN,0.0,Slight,NaN,2005-01-07,Friday,1.0,Data missing or out of range,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Car,No,Front,2005
3,Unclassified,0.0,NaN,0.0,Slight,NaN,2005-01-10,Monday,1.0,Data missing or out of range,...,Skidded,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Motorcycle 125cc and under,No,Front,2005
4,Unclassified,0.0,NaN,0.0,Slight,NaN,2005-01-11,Tuesday,1.0,Data missing or out of range,...,NaN,No tow/articulation,Did not leave carriageway,0.0,Moving off,1,Car,No,Did not impact,2005

(2058408, 56)

Data contains over 2 million records!

In [6]:
#let's take a general look at the variables involved
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2058408 entries, 0 to 2058407
Data columns (total 56 columns):
 #   Column                                       Dtype
---  ------                                       -----
 0   1st_Road_Class                               object
 1   1st_Road_Number                              float64
 2   2nd_Road_Class                               object
 3   2nd_Road_Number                              float64
 4   Accident_Severity                            object
 5   Carriageway_Hazards                          object
 6   Date                                         object
 7   Day_of_Week                                  object
 8   Did_Police_Officer_Attend_Scene_of_Accident  float64
 9   Junction_Control                             object
 10  Junction_Detail                              object
 11  Latitude                                     float64
 12  Light_Conditions                             object
 13  Local_Authority_(District)                   object
 14  Local_Authority_(Highway)                    object
 15  Location_Easting_OSGR                        float64
 16  Location_Northing_OSGR                       float64
 17  Longitude                                    float64
 18  LSOA_of_Accident_Location                    object
 19  Number_of_Casualties                         int64
 20  Number_of_Vehicles                           int64
 21  Pedestrian_Crossing-Human_Control            float64
 22  Pedestrian_Crossing-Physical_Facilities      float64
 23  Police_Force                                 object
 24  Road_Surface_Conditions                      object
 25  Road_Type                                    object
 26  Special_Conditions_at_Site                   object
 27  Speed_limit                                  float64
 28  Time                                         object
 29  Urban_or_Rural_Area                          object
 30  Weather_Conditions                           object
 31  Year_x                                       int64
 32  InScotland                                   object
 33  Age_Band_of_Driver                           object
 34  Age_of_Vehicle                               float64
 35  Driver_Home_Area_Type                        object
 36  Driver_IMD_Decile                            float64
 37  Engine_Capacity_.CC.                         float64
 38  Hit_Object_in_Carriageway                    object
 39  Hit_Object_off_Carriageway                   object
 40  Journey_Purpose_of_Driver                    object
 41  Junction_Location                            object
 42  make                                         object
 43  model                                        object
 44  Propulsion_Code                              object
 45  Sex_of_Driver                                object
 46  Skidding_and_Overturning                     object
 47  Towing_and_Articulation                      object
 48  Vehicle_Leaving_Carriageway                  object
 49  Vehicle_Location.Restricted_Lane             float64
 50  Vehicle_Manoeuvre                            object
 51  Vehicle_Reference                            int64
 52  Vehicle_Type                                 object
 53  Was_Vehicle_Left_Hand_Drive                  object
 54  X1st_Point_of_Impact                         object
 55  Year_y                                       int64
dtypes: float64(14), int64(5), object(37)
memory usage: 879.4+ MB

In [7]:
#let's take a closer look at nulls within columns
null_columns=dataset.columns[dataset.isnull().any()]
dataset[null_columns].isnull().sum()

1st_Road_Number                                      1
2nd_Road_Class                                  827937
2nd_Road_Number                                  18927
Carriageway_Hazards                            2022709
Did_Police_Officer_Attend_Scene_of_Accident        114
Latitude                                           124
Location_Easting_OSGR                              124
Location_Northing_OSGR                             124
Longitude                                          125
LSOA_of_Accident_Location                       139207
Pedestrian_Crossing-Human_Control                  654
Pedestrian_Crossing-Physical_Facilities           1370
Special_Conditions_at_Site                     2006278
Speed_limit                                         65
Time                                               146
InScotland                                          44
Age_of_Vehicle                                  337962
Driver_IMD_Decile                               689290
Engine_Capacity_.CC.                            250317
Hit_Object_in_Carriageway                      1973945
Hit_Object_off_Carriageway                     1881426
make                                            110845
model                                           299357
Propulsion_Code                                 233598
Skidding_and_Overturning                       1798784
Vehicle_Location.Restricted_Lane                  1124
dtype: int64

In [9]:
#drop variables that are unnecessary
dataset.drop("1st_Road_Number", axis=1, inplace=True)
dataset.drop("2nd_Road_Number", axis=1, inplace=True)
dataset.drop("LSOA_of_Accident_Location", axis=1, inplace=True)
dataset.drop("Location_Easting_OSGR", axis=1, inplace=True)

KeyError: "['1st_Road_Number'] not found in axis"

In [10]:
dataset.drop("Carriageway_Hazards", axis=1, inplace=True)
dataset.drop("Special_Conditions_at_Site", axis=1, inplace=True)
dataset.drop("Hit_Object_in_Carriageway", axis=1, inplace=True)
dataset.drop("Hit_Object_off_Carriageway ", axis=1, inplace=True)

KeyError: "['Hit_Object_off_Carriageway '] not found in axis"

In [11]:
null_columns=dataset.columns[dataset.isnull().any()]
dataset[null_columns].isnull().sum()

2nd_Road_Class                                  827937
Did_Police_Officer_Attend_Scene_of_Accident        114
Latitude                                           124
Location_Northing_OSGR                             124
Longitude                                          125
Pedestrian_Crossing-Human_Control                  654
Pedestrian_Crossing-Physical_Facilities           1370
Speed_limit                                         65
Time                                               146
InScotland                                          44
Age_of_Vehicle                                  337962
Driver_IMD_Decile                               689290
Engine_Capacity_.CC.                            250317
Hit_Object_off_Carriageway                     1881426
make                                            110845
model                                           299357
Propulsion_Code                                 233598
Skidding_and_Overturning                       1798784
Vehicle_Location.Restricted_Lane                  1124
dtype: int64

In [12]:
dataset.drop("Skidding_and_Overturning", axis=1, inplace=True)
dataset.drop("Hit_Object_off_Carriageway", axis=1, inplace=True)

In [13]:
dataset.drop("2nd_Road_Class", axis=1, inplace=True)
dataset.drop("Driver_IMD_Decile", axis=1, inplace=True)

In [14]:
null_columns=dataset.columns[dataset.isnull().any()]
dataset[null_columns].isnull().sum()

Did_Police_Officer_Attend_Scene_of_Accident       114
Latitude                                          124
Location_Northing_OSGR                            124
Longitude                                         125
Pedestrian_Crossing-Human_Control                 654
Pedestrian_Crossing-Physical_Facilities          1370
Speed_limit                                        65
Time                                              146
InScotland                                         44
Age_of_Vehicle                                 337962
Engine_Capacity_.CC.                           250317
make                                           110845
model                                          299357
Propulsion_Code                                233598
Vehicle_Location.Restricted_Lane                 1124
dtype: int64

In [15]:
dataset.shape

(2058408, 45)

In [16]:
dataset.dropna(how='any',inplace=True)

In [17]:
dataset.shape

(1555129, 45)

In [19]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1555129 entries, 2 to 2058407
Data columns (total 45 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   1st_Road_Class                               1555129 non-null  object
 1   Accident_Severity                            1555129 non-null  object
 2   Date                                         1555129 non-null  object
 3   Day_of_Week                                  1555129 non-null  object
 4   Did_Police_Officer_Attend_Scene_of_Accident  1555129 non-null  float64
 5   Junction_Control                             1555129 non-null  object
 6   Junction_Detail                              1555129 non-null  object
 7   Latitude                                     1555129 non-null  float64
 8   Light_Conditions                             1555129 non-null  object
 9   Local_Authority_(District)                   1555129 non-null  object
 10  Local_Authority_(Highway)                    1555129 non-null  object
 11  Location_Northing_OSGR                       1555129 non-null  float64
 12  Longitude                                    1555129 non-null  float64
 13  Number_of_Casualties                         1555129 non-null  int64
 14  Number_of_Vehicles                           1555129 non-null  int64
 15  Pedestrian_Crossing-Human_Control            1555129 non-null  float64
 16  Pedestrian_Crossing-Physical_Facilities      1555129 non-null  float64
 17  Police_Force                                 1555129 non-null  object
 18  Road_Surface_Conditions                      1555129 non-null  object
 19  Road_Type                                    1555129 non-null  object
 20  Speed_limit                                  1555129 non-null  float64
 21  Time                                         1555129 non-null  object
 22  Urban_or_Rural_Area                          1555129 non-null  object
 23  Weather_Conditions                           1555129 non-null  object
 24  Year_x                                       1555129 non-null  int64
 25  InScotland                                   1555129 non-null  object
 26  Age_Band_of_Driver                           1555129 non-null  object
 27  Age_of_Vehicle                               1555129 non-null  float64
 28  Driver_Home_Area_Type                        1555129 non-null  object
 29  Engine_Capacity_.CC.                         1555129 non-null  float64
 30  Journey_Purpose_of_Driver                    1555129 non-null  object
 31  Junction_Location                            1555129 non-null  object
 32  make                                         1555129 non-null  object
 33  model                                        1555129 non-null  object
 34  Propulsion_Code                              1555129 non-null  object
 35  Sex_of_Driver                                1555129 non-null  object
 36  Towing_and_Articulation                      1555129 non-null  object
 37  Vehicle_Leaving_Carriageway                  1555129 non-null  object
 38  Vehicle_Location.Restricted_Lane             1555129 non-null  float64
 39  Vehicle_Manoeuvre                            1555129 non-null  object
 40  Vehicle_Reference                            1555129 non-null  int64
 41  Vehicle_Type                                 1555129 non-null  object
 42  Was_Vehicle_Left_Hand_Drive                  1555129 non-null  object
 43  X1st_Point_of_Impact                         1555129 non-null  object
 44  Year_y                                       1555129 non-null  int64
dtypes: float64(10), int64(5), object(30)
memory usage: 545.8+ MB

Even though about a quarter or our records were dropped, we are still left with 1.5 million records to analyze. This is still a significant amount of data for the purpose of our analysis. Now that our data is clean of nulls, let's examine it in further detail.

In [20]:
dataset.head()

,1st_Road_Class,Accident_Severity,Date,Day_of_Week,Did_Police_Officer_Attend_Scene_of_Accident,Junction_Control,Junction_Detail,Latitude,Light_Conditions,Local_Authority_(District),...,Sex_of_Driver,Towing_and_Articulation,Vehicle_Leaving_Carriageway,Vehicle_Location.Restricted_Lane,Vehicle_Manoeuvre,Vehicle_Reference,Vehicle_Type,Was_Vehicle_Left_Hand_Drive,X1st_Point_of_Impact,Year_y
2,A,Slight,2005-01-07,Friday,1.0,Data missing or out of range,Not at junction or within 20 metres,51.482442,Daylight,Kensington and Chelsea,...,Female,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,1,Car,No,Front,2005
4,Unclassified,Slight,2005-01-11,Tuesday,1.0,Data missing or out of range,Not at junction or within 20 metres,51.515540,Daylight,Kensington and Chelsea,...,Male,No tow/articulation,Did not leave carriageway,0.0,Moving off,1,Car,No,Did not impact,2005
5,Unclassified,Slight,2005-01-11,Tuesday,1.0,Data missing or out of range,Not at junction or within 20 metres,51.515540,Daylight,Kensington and Chelsea,...,Female,No tow/articulation,Did not leave carriageway,0.0,Going ahead other,2,Motorcycle 125cc and under,No,Did not impact,2005
7,C,Slight,2005-01-13,Thursday,1.0,Give way or uncontrolled,T or staggered junction,51.512695,Darkness - lights lit,Kensington and Chelsea,...,Male,No tow/articulation,Did not leave carriageway,0.0,Parked,2,Car,No,Back,2005
8,A,Slight,2005-01-14,Friday,1.0,Data missing or out of range,Not at junction or within 20 metres,51.502260,Daylight,Kensington and Chelsea,...,Male,No tow/articulation,Nearside,0.0,Going ahead other,1,Car,No,Front,2005

Let us look further into some of the categorical data to see if they make sense!

In [24]:
dataset["1st_Road_Class"].unique()  #unknowns: 'Unclassified'
dataset["Accident_Severity"].unique() #need to reclassify into binary variable for model simplification
#dataset["Date"].unique()
dataset["Day_of_Week"].unique()
dataset["Junction_Control"].unique() #unknowns: 'Data missing or out of range'
dataset["Junction_Detail"].unique() #unknowns: 'Data missing or out of range'
dataset["Light_Conditions"].unique() #unknowns: 'Data missing or out of range'
dataset["Local_Authority_(District)"].unique() #too many categories! might be unnecessary
dataset["Local_Authority_(Highway)"].unique() #too many categories! might be unnecessary
dataset["Police_Force"].unique()
dataset["Road_Surface_Conditions"].unique() #unknowns: 'Data missing or out of range'
dataset["Road_Type"].unique() #unknowns: 'Unknown'
#dataset["Time"].unique()
dataset["Urban_or_Rural_Area"].unique() #unknowns: 'Unallocated' ... is that really unknown?
dataset["Weather_Conditions"].unique() #unknowns: 'Other', 'Unknown','Data missing or out of range'
dataset["InScotland"].unique() #might be an unnecessary location column
dataset["Age_Band_of_Driver"].unique() #unknowns/non-sensical data: 'Data missing or out of range','11 - 15','6 - 10', '0 - 5'
dataset["Driver_Home_Area_Type"].unique() #unknowns: 'Data missing or out of range'
dataset["Journey_Purpose_of_Driver"].unique() #unknowns: 'Other/Not known (2005-10)','Data missing or out of range','Not known','Other'
dataset["Junction_Location"].unique() #unknowns: 'Data missing or out of range'
dataset["make"].unique() #too many categories!
dataset["model"].unique() #too many categories!
dataset["Propulsion_Code"].unique()
dataset["Sex_of_Driver"].unique() #unknowns: 'Not known', 'Data missing or out of range'
dataset["Towing_and_Articulation"].unique() #unknowns: 'Data missing or out of range'
dataset["Vehicle_Leaving_Carriageway"].unique() #unknowns: 'Data missing or out of range'
dataset["Vehicle_Manoeuvre"].unique() #unknowns: 'Data missing or out of range'
dataset["Vehicle_Type"].unique()
dataset["Was_Vehicle_Left_Hand_Drive"].unique() #unknowns: 'Data missing or out of range'
dataset["X1st_Point_of_Impact"].unique() #unknowns: 'Data missing or out of range'

array(['A', 'Unclassified', 'C', 'B', 'Motorway', 'A(M)'], dtype=object)

array(['Slight', 'Serious', 'Fatal'], dtype=object)

array(['Friday', 'Tuesday', 'Thursday', 'Sunday', 'Saturday', 'Wednesday',
       'Monday'], dtype=object)

array(['Data missing or out of range', 'Give way or uncontrolled',
       'Auto traffic signal', 'Stop sign', 'Authorised person',
       'Not at junction or within 20 metres'], dtype=object)

array(['Not at junction or within 20 metres', 'T or staggered junction',
       'Crossroads', 'Mini-roundabout', 'Private drive or entrance',
       'More than 4 arms (not roundabout)', 'Roundabout',
       'Other junction', 'Slip road', 'Data missing or out of range'],
      dtype=object)

array(['Daylight', 'Darkness - lights lit', 'Darkness - lights unlit',
       'Darkness - lighting unknown', 'Darkness - no lighting',
       'Data missing or out of range'], dtype=object)

array(['Kensington and Chelsea', 'Hammersmith and Fulham', 'Westminster',
       'City of London', 'Hackney', 'Islington', 'Camden', 'Brent',
       'Haringey', 'Barnet', 'Richmond upon Thames', 'Ealing',
       'Tower Hamlets', 'Hillingdon', 'London Airport (Heathrow)',
       'Hounslow', 'Waltham Forest', 'Redbridge', 'Barking and Dagenham',
       'Newham', 'Havering', 'Lambeth', 'Southwark', 'Croydon',
       'Wandsworth', 'Lewisham', 'Bromley', 'Bexley', 'Harrow',
       'Greenwich', 'Enfield', 'Kingston upon Thames', 'Merton', 'Sutton',
       'South Lakeland', 'Barrow-in-Furness', 'Carlisle', 'Eden',
       'Allerdale', 'Copeland', 'Blackpool', 'Fylde', 'Lancaster',
       'Blackburn with Darwen', 'Preston', 'Wyre', 'West Lancashire',
       'South Ribble', 'Chorley', 'Hyndburn', 'Ribble Valley', 'Pendle',
       'Rossendale', 'Burnley', 'Wirral', 'Sefton', 'Knowsley',
       'Liverpool', 'St. Helens', 'Manchester', 'Salford', 'Rochdale',
       'Trafford', 'Stockport', 'Wigan', 'Tameside', 'Bolton', 'Bury',
       'Oldham', 'Warrington', 'Crewe and Nantwich', 'Halton',
       'Ellesmere Port and Neston', 'Vale Royal', 'Chester',
       'Macclesfield', 'Congleton', 'Newcastle upon Tyne', 'Sunderland',
       'North Tyneside', 'Wansbeck', 'Blyth Valley', 'South Tyneside',
       'Tynedale', 'Gateshead', 'Alnwick', 'Castle Morpeth',
       'Berwick-upon-Tweed', 'Wear Valley', 'Sedgefield', 'Durham',
       'Easington', 'Chester-le-Street', 'Derwentside', 'Teesdale',
       'Darlington', 'Ryedale', 'York', 'Craven', 'Scarborough',
       'Hambleton', 'Harrogate', 'Selby', 'Richmondshire', 'Kirklees',
       'Leeds', 'Bradford', 'Wakefield', 'Calderdale', 'Doncaster',
       'Barnsley', 'Sheffield', 'Rotherham', 'North East Lincolnshire',
       'North Lincolnshire', 'East Riding of Yorkshire',
       'Kingston upon Hull, City of', 'Hartlepool',
       'Redcar and Cleveland', 'Middlesbrough', 'Stockton-on-Tees',
       'Birmingham', 'Wolverhampton', 'Walsall', 'Dudley', 'Sandwell',
       'Solihull', 'Coventry', 'Stoke-on-Trent', 'Newcastle-under-Lyme',
       'Stafford', 'Staffordshire Moorlands', 'East Staffordshire',
       'Cannock Chase', 'South Staffordshire', 'Lichfield', 'Tamworth',
       'Worcester', 'Wychavon', 'Malvern Hills', 'Wyre Forest',
       'Bromsgrove', 'Redditch', 'Herefordshire, County of',
       'Shrewsbury and Atcham', 'Oswestry', 'Telford and Wrekin',
       'South Shropshire', 'Bridgnorth', 'North Shropshire',
       'Stratford-upon-Avon', 'Warwick', 'North Warwickshire',
       'Nuneaton and Bedworth', 'Rugby', 'Amber Valley', 'Erewash',
       'Bolsover', 'Derbyshire Dales', 'High Peak',
       'North East Derbyshire', 'Chesterfield', 'South Derbyshire',
       'Derby', 'Mansfield', 'Ashfield', 'Bassetlaw',
       'Newark and Sherwood', 'Rushcliffe', 'Nottingham', 'Gedling',
       'Broxtowe', 'South Kesteven', 'South Holland', 'North Kesteven',
       'East Lindsey', 'West Lindsey', 'Boston', 'Lincoln', 'Harborough',
       'Leicester', 'Charnwood', 'North West Leicestershire', 'Rutland',
       'Blaby', 'Oadby and Wigston', 'Melton', 'Hinckley and Bosworth',
       'Kettering', 'Corby', 'East Northamptonshire', 'Daventry',
       'South Northamptonshire', 'Northampton', 'Wellingborough',
       'South Cambridgeshire', 'Huntingdonshire', 'Peterborough',
       'East Cambridgeshire', 'Cambridge', 'Fenland', 'Great Yarmouth',
       "King's Lynn and West Norfolk", 'Broadland', 'South Norfolk',
       'Breckland', 'Norwich', 'North Norfolk', 'St. Edmundsbury',
       'Suffolk Coastal', 'Babergh', 'Mid Suffolk', 'Forest Heath',
       'Ipswich', 'Waveney', 'Bedford', 'Mid Bedfordshire', 'Luton',
       'South Bedfordshire', 'East Hertfordshire', 'North Hertfordshire',
       'Welwyn Hatfield', 'Broxbourne', 'Watford', 'Hertsmere',
       'Three Rivers', 'Dacorum', 'Stevenage', 'St. Albans', 'Uttlesford',
       'Braintree', 'Colchester', 'Epping Forest', 'Basildon',
       'Chelmsford', 'Thurrock', 'Maldon', 'Brentwood', 'Tendring',
       'Harlow', 'Southend-on-Sea', 'Castle Point', 'Rochford',
       'Aylesbury Vale', 'Wycombe', 'South Bucks', 'Milton Keynes',
       'Chiltern', 'Slough', 'Cherwell', 'Vale of White Horse',
       'South Oxfordshire', 'West Oxfordshire', 'Oxford',
       'West Berkshire', 'Bracknell Forest', 'Reading',
       'Windsor and Maidenhead', 'Wokingham', 'Gosport', 'Winchester',
       'Isle of Wight', 'New Forest', 'Fareham', 'Test Valley',
       'Rushmoor', 'Basingstoke and Deane', 'Havant', 'Portsmouth',
       'Eastleigh', 'Hart', 'East Hampshire', 'Southampton', 'Elmbridge',
       'Runnymede', 'Spelthorne', 'Guildford', 'Mole Valley',
       'Epsom and Ewell', 'Reigate and Banstead', 'Woking',
       'Surrey Heath', 'Waverley', 'Tandridge', 'Medway', 'Dartford',
       'Sevenoaks', 'Dover', 'Shepway', 'Canterbury', 'Tunbridge Wells',
       'Tonbridge and Malling', 'Maidstone', 'Swale', 'Ashford', 'Thanet',
       'Gravesham', 'Wealden', 'Eastbourne', 'Rother',
       'Brighton and Hove', 'Mid Sussex', 'Chichester', 'Worthing',
       'Arun', 'Lewes', 'Crawley', 'Adur', 'Hastings', 'Horsham',
       'Kerrier', 'Carrick', 'Penwith', 'Restormel', 'North Cornwall',
       'West Devon', 'Caradon', 'Torridge', 'North Devon', 'Exeter',
       'East Devon', 'Teignbridge', 'Mid Devon', 'Plymouth', 'South Hams',
       'Torbay', 'Bristol, City of', 'Sedgemoor',
       'Bath and North East Somerset', 'Mendip', 'South Gloucestershire',
       'Taunton Deane', 'South Somerset', 'North Somerset',
       'West Somerset', 'Stroud', 'Gloucester', 'Tewkesbury',
       'Forest of Dean', 'Cotswold', 'Cheltenham', 'Salisbury', 'Kennet',
       'West Wiltshire', 'North Wiltshire', 'Swindon', 'Bournemouth',
       'Poole', 'North Dorset', 'East Dorset', 'Christchurch', 'Purbeck',
       'West Dorset', 'Weymouth and Portland', 'Isle of Anglesey',
       'Conwy', 'Denbighshire', 'Flintshire', 'Gwynedd', 'Wrexham',
       'Caerphilly', 'Monmouthshire', 'Torfaen', 'Blaenau Gwent',
       'Newport', 'Swansea', 'Bridgend', 'Cardiff', 'Neath Port Talbot',
       'Merthyr Tydfil', 'The Vale of Glamorgan', 'Rhondda, Cynon, Taff',
       'Carmarthenshire', 'Ceredigion', 'Pembrokeshire', 'Powys',
       'Highland', 'Western Isles', 'Orkney Islands', 'Shetland Islands',
       'Aberdeen City', 'Aberdeenshire', 'Moray', 'Perth and Kinross',
       'Angus', 'Dundee City', 'Fife', 'Edinburgh, City of',
       'Scottish Borders', 'West Lothian', 'Midlothian', 'East Lothian',
       'Stirling', 'Falkirk', 'Clackmannanshire', 'Glasgow City',
       'East Dunbartonshire', 'East Renfrewshire', 'Renfrewshire',
       'Inverclyde', 'West Dunbartonshire', 'Argyll and Bute',
       'North Lanarkshire', 'South Lanarkshire', 'North Ayrshire',
       'East Ayrshire', 'South Ayrshire', 'Dumfries and Galloway',
       'Cheshire East', 'Cheshire West and Chester', 'Northumberland',
       'County Durham', 'Shropshire', 'Central Bedfordshire', 'Cornwall',
       'Wiltshire'], dtype=object)

array(['Kensington and Chelsea', 'Hammersmith and Fulham', 'Westminster',
       'City of London', 'Hackney', 'Islington', 'Camden', 'Brent',
       'Haringey', 'Barnet', 'Richmond upon Thames', 'Ealing',
       'Tower Hamlets', 'Hillingdon', 'London Airport (Heathrow)',
       'Hounslow', 'Waltham Forest', 'Redbridge', 'Barking and Dagenham',
       'Newham', 'Havering', 'Lambeth', 'Southwark', 'Croydon',
       'Wandsworth', 'Lewisham', 'Bromley', 'Bexley', 'Harrow',
       'Greenwich', 'Enfield', 'Kingston upon Thames', 'Merton', 'Sutton',
       'Cumbria', 'Blackpool', 'Lancashire', 'Blackburn with Darwen',
       'Wirral', 'Sefton', 'Knowsley', 'Liverpool', 'St. Helens',
       'Manchester', 'Salford', 'Rochdale', 'Trafford', 'Stockport',
       'Wigan', 'Tameside', 'Bolton', 'Bury', 'Oldham', 'Warrington',
       'Cheshire East', 'Halton', 'Cheshire West and Chester',
       'Newcastle upon Tyne', 'Sunderland', 'North Tyneside',
       'Northumberland', 'South Tyneside', 'Gateshead', 'County Durham',
       'Darlington', 'North Yorkshire', 'York', 'Kirklees', 'Leeds',
       'Bradford', 'Wakefield', 'Calderdale', 'Doncaster', 'Barnsley',
       'Sheffield', 'Rotherham', 'North East Lincolnshire',
       'North Lincolnshire', 'East Riding of Yorkshire',
       'Kingston upon Hull, City of', 'Hartlepool',
       'Redcar and Cleveland', 'Middlesbrough', 'Stockton-on-Tees',
       'Birmingham', 'Wolverhampton', 'Walsall', 'Dudley', 'Sandwell',
       'Solihull', 'Coventry', 'Stoke-on-Trent', 'Staffordshire',
       'Worcestershire', 'Herefordshire, County of', 'Shropshire',
       'Telford and Wrekin', 'Warwickshire', 'Derbyshire', 'Derby',
       'Nottinghamshire', 'Nottingham', 'Lincolnshire', 'Leicestershire',
       'Leicester', 'Rutland', 'Northamptonshire', 'Cambridgeshire',
       'Peterborough', 'Norfolk', 'Suffolk', 'Bedford',
       'Central Bedfordshire', 'Luton', 'Hertfordshire', 'Essex',
       'Thurrock', 'Southend-on-Sea', 'Buckinghamshire', 'Milton Keynes',
       'Slough', 'Oxfordshire', 'West Berkshire', 'Bracknell Forest',
       'Reading', 'Windsor and Maidenhead', 'Wokingham', 'Hampshire',
       'Isle of Wight', 'Portsmouth', 'Southampton', 'Surrey', 'Medway',
       'Kent', 'East Sussex', 'Brighton and Hove', 'West Sussex',
       'Cornwall', 'Devon', 'Plymouth', 'Torbay', 'Bristol, City of',
       'Somerset', 'Bath and North East Somerset',
       'South Gloucestershire', 'North Somerset', 'Gloucestershire',
       'Wiltshire', 'Swindon', 'Bournemouth', 'Poole', 'Dorset',
       'Isle of Anglesey', 'Conwy', 'Denbighshire', 'Flintshire',
       'Gwynedd', 'Wrexham', 'Caerphilly', 'Monmouthshire', 'Torfaen',
       'Blaenau Gwent', 'Newport', 'Swansea', 'Bridgend', 'Cardiff',
       'Neath Port Talbot', 'Merthyr Tydfil', 'The Vale of Glamorgan',
       'Rhondda, Cynon, Taff', 'Carmarthenshire', 'Ceredigion',
       'Pembrokeshire', 'Powys', 'Highland',
       'Na h-Eileanan an Iar (Western Isles)', 'Orkney Islands',
       'Shetland Islands', 'Aberdeen City', 'Aberdeenshire', 'Moray',
       'Perth and Kinross', 'Angus', 'Dundee City', 'Fife',
       'Edinburgh, City of', 'Scottish Borders', 'West Lothian',
       'Midlothian', 'East Lothian', 'Stirling', 'Falkirk',
       'Clackmannanshire', 'Glasgow City', 'East Dunbartonshire',
       'East Renfrewshire', 'Renfrewshire', 'Inverclyde',
       'West Dunbartonshire', 'Argyll & Bute', 'North Lanarkshire',
       'South Lanarkshire', 'North Ayrshire', 'East Ayrshire',
       'South Ayrshire', 'Dumfries & Galloway', 'Isles of Scilly'],
      dtype=object)

array(['Metropolitan Police', 'City of London', 'Cumbria', 'Lancashire',
       'Merseyside', 'Greater Manchester', 'Cheshire', 'Northumbria',
       'Durham', 'North Yorkshire', 'West Yorkshire', 'South Yorkshire',
       'Humberside', 'Cleveland', 'West Midlands', 'Staffordshire',
       'West Mercia', 'Warwickshire', 'Derbyshire', 'Nottinghamshire',
       'Lincolnshire', 'Leicestershire', 'Northamptonshire',
       'Cambridgeshire', 'Norfolk', 'Suffolk', 'Bedfordshire',
       'Hertfordshire', 'Essex', 'Thames Valley', 'Hampshire', 'Surrey',
       'Kent', 'Sussex', 'Devon and Cornwall', 'Avon and Somerset',
       'Gloucestershire', 'Wiltshire', 'Dorset', 'North Wales', 'Gwent',
       'South Wales', 'Dyfed-Powys', 'Northern', 'Grampian', 'Tayside',
       'Fife', 'Lothian and Borders', 'Central', 'Strathclyde',
       'Dumfries and Galloway'], dtype=object)

array(['Dry', 'Wet or damp', 'Snow', 'Frost or ice',
       'Flood over 3cm. deep', 'Data missing or out of range'],
      dtype=object)

array(['Single carriageway', 'Dual carriageway', 'One way street',
       'Roundabout', 'Slip road', 'Unknown'], dtype=object)

array(['Urban', 'Rural', 'Unallocated'], dtype=object)

array(['Fine no high winds', 'Raining no high winds',
       'Snowing no high winds', 'Fine + high winds', 'Other', 'Unknown',
       'Raining + high winds', 'Fog or mist', 'Snowing + high winds',
       'Data missing or out of range'], dtype=object)

array(['No', 'Yes'], dtype=object)

array(['46 - 55', '26 - 35', '36 - 45', '66 - 75', '16 - 20', '56 - 65',
       'Data missing or out of range', '21 - 25', 'Over 75', '11 - 15',
       '6 - 10', '0 - 5'], dtype=object)

array(['Urban area', 'Data missing or out of range', 'Small town',
       'Rural'], dtype=object)

array(['Other/Not known (2005-10)', 'Journey as part of work',
       'Commuting to/from work', 'Pupil riding to/from school',
       'Taking pupil to/from school', 'Data missing or out of range',
       'Not known', 'Other'], dtype=object)

array(['Not at or within 20 metres of junction',
       'Approaching junction or waiting/parked at junction approach',
       'Mid Junction - on roundabout or on main road',
       'Cleared junction or waiting/parked at junction exit',
       'Leaving roundabout', 'Entering main road',
       'Entering from slip road', 'Leaving main road',
       'Entering roundabout', 'Data missing or out of range'],
      dtype=object)

array(['NISSAN', 'AUDI', 'PIAGGIO', 'MERCEDES', 'JAGUAR', 'FORD', 'MCC',
       'BMW', 'PEUGEOT', 'HONDA', 'VAUXHALL', 'ROVER', 'LOTUS', 'SUZUKI',
       'SAAB', 'LONDON TAXIS INT', 'SUBARU', 'KAWASAKI', 'HYUNDAI',
       'LAND ROVER', 'VOLKSWAGEN', 'CITROEN', 'MINI', 'DUCATI', 'DAEWOO',
       'FIAT', 'METROCAB', 'YAMAHA', 'GILERA', 'RENAULT', 'MITSUBISHI',
       'TOYOTA', 'BUELL', 'TRIUMPH', 'PORSCHE', 'VOLVO', 'JEEP',
       'ASTON MARTIN', 'ALFA ROMEO', 'MG', 'TVR', 'SEAT', 'KIA',
       'CHRYSLER', 'SMART', 'SKODA', 'TAIWAN GOLDEN BEE', 'TAISHAN',
       'PROTON', 'MAZDA', 'HARLEY-DAVIDSON', 'KYMCO', 'LEXUS', 'KTM',
       'ISUZU TRUCKS', 'MOTO ROMA', 'CCM', 'MALAGUTI', 'JIALING', 'SYM',
       'ISUZU', 'DAIHATSU', 'DAF TRUCKS', 'BRANSON', 'PGO', 'LDV',
       'BENTLEY', 'AUSTIN', 'LADA', 'AUTO-TRAIL', 'PERODUA', 'Z Y MOTOR',
       'HILLMAN', 'DATSUN', 'LEYLAND DAF', 'APRILIA', 'CAGIVA',
       'CHEVROLET GMC', 'ITALJET', 'BAOTIAN', 'MASERATI', 'MORRIS',
       'DAIMLER', 'OPEL', 'IVECO', 'MOTOR HISPANIA', 'HER CHE', 'RELIANT',
       'LEYLAND CARS', 'SANTANA', 'SSANGYONG', 'CHITUMA', 'JINLUN',
       'ALL WHEEL DRIVE', 'MBK', 'ROYAL ENFIELD', 'EASY RIDER', 'TALBOT',
       'FSO CARS', 'MV AGUSTA', 'TATA', 'MICROCAR', 'SACHS', 'OPTARE',
       'GAS GAS', 'FMC', 'LANCIA', 'DAELIM', 'FREIGHT ROVER', 'MORGAN',
       'MOTO GUZZI', 'SUKIDA', 'SHERCO', 'RIEJU', 'FERRARI', 'HIMO',
       'ZASTAVA', 'KINLON', 'IVECO FORD', 'BEDFORD', 'AUSTIN MORRIS',
       'BENELLI', 'BAJAJ', 'ADLY', 'ROLLS ROYCE', 'HONGYI', 'IRIS.BUS',
       'CHEVROLET', 'GIANTCO', 'MODENAS', 'HYOSUNG', 'DAF', 'EVT',
       'CADILLAC', 'SMC', 'DAJIANG', 'LIFAN', 'AIXAM', 'ASIA', 'WOLSELEY',
       'CPI', 'MAXUS', 'JENSEN', 'KAZUMA', 'URAL', 'KEEN', 'SHE LUNG',
       'LAMBRETTA', 'LAVERDA', 'YIBEN MEIDUC', 'CKR', 'VICTORY', 'VOR',
       'AXR', 'DIRT PRO', 'GEELY', 'DODGE (USA)', 'BETTER', 'DERBI',
       'SKYTEAM', 'THUMPSTAR', 'QINGQI', 'XINGYUE', 'KINROAD', 'AJS',
       'HAOTIAN', 'YIYING', 'SHINERAY', 'LINHAI', 'LONGJIA',
       'BRITISH TRACKSTAR', 'NORTON', 'RHON', 'VENTURI', 'HARTFORD',
       'SIMCA', 'KAISAR', 'SUPERBYKE', 'TAMORETTI', 'WANGYE', 'KEEWAY',
       'SONIK', 'SKYGO', 'MOTO MORINI', 'HUSQVARNA', 'HUATIAN', 'HONGDOU',
       'ROVIGO', 'WUYANG', 'BASHAN', 'HUMMER', 'FYM', 'HUSABERG',
       'MITSUBISHI FUSO', 'CARBODIES', 'LONCIN', 'LML', 'SINSKI',
       'RENAULT TRUCKS', 'URBAN', 'HUONIAO', 'MZ', 'GENERIC', 'SANBEN',
       'MEGELLI', 'TEC', 'POLARIS', 'DINLI', 'SIAMOTO', 'LAMBORGHINI',
       'ZENNCO', 'ZONGSHEN', 'NEOPLAN', 'BARON', 'BUICK', 'QUADZILLA',
       'VESPA (DOUGLAS)', 'ZNEN', 'SITCAR', 'LEYLAND', 'JINCHENG', 'POR',
       'BOVA', 'VULCAN', 'BAROSSA', 'ABARTH', 'SFMM', 'CAN-AM', 'BEELINE',
       'SANYA', 'XINLING', 'PULSE', 'JM STAR', 'LEXMOTO', 'LEIKE',
       'LINCOLN', 'LIGIER', 'DAYUN', 'YUAN', 'NECHT', 'FEIYING',
       'PIONEER', 'HUMBER', 'WARTBURG', 'RILEY', 'CSR', 'INFINITI',
       'WK BIKES', 'WRIGHTBUS', 'CF MOTO', 'WHITE KNUCKLE', 'JOHN DEERE',
       'ZONTES', 'BRISTOL', 'CAETANO', 'SKYJET', 'HANWAY', 'NECO',
       'SUZUKO', 'DACIA', 'FOSTI', 'NIPPONIA', 'SFM', 'CTM', 'JIANSHE',
       'MGXPOWER', 'JCM', 'SINNIS', 'CHUNLAN', 'VAN HOOL',
       'HERALD MOTOR COMPANY', 'JCB', 'KSR MOTO', 'VDL', 'HONLEY',
       'MOTOBI', 'BETA', 'JAWA', 'BOND', 'REWACO', 'IRIZAR', 'JONWAY',
       'NIPPI', 'TM', 'MAHINDRA', 'BIMOTA', 'INDIAN', 'OTHER BRITISH',
       'LONDON TAXIS INT.', 'ALEXANDER DENNIS', 'MAN', 'SCANIA', 'DODGE',
       'DENNIS', 'IVECO-FORD', 'TGB', 'OTHER ITALIAN',
       'JOHNSTON SWEEPERS', 'TOMOS', 'DS', 'TRANSBUS INT', 'MAYBACH',
       'SANLI', 'OTHER FRENCH', 'MOTORHISPANIA', 'XGJAO', 'HINO',
       'ZHONGYU', 'FODEN', 'NEW HOLLAND', 'AUSTIN HEALEY', 'AVIA',
       'SCOMADI', 'KASEA', 'BSA', 'BARONI', 'MANITOU', 'SAME', 'SCORPA',
       'RIS BUS', 'ERF', 'NORTON VILLIERS', 'YUTONG', 'CLAAS',
       'CASE INTERNATIONAL', 'OTHER AGRIC/CONSTRUCTIONAL', 'LIEBHERR',
       'ETON', 'MOTORINI', 'BMC', 'DENNIS FIRE', 'SCAMMELL', 'MATCHLESS',
       'SECMA', 'ACCESS', 'ISEKI', 'KUBOTA', 'MCCORMICK', 'MERLO',
       'JINLIN', 'TAFE', 'SETRA', 'YIBEN MEIDUO', 'CHAMP',
       'OTHER COUNTRIES', 'ZETOR', 'BTM', 'SEDDON/ATKINSON', 'LANDINI',
       'DEUTZ FAHR', 'ENFIELD', 'DFSK', 'GARELLI', 'BRISTOL (BLMC)',
       'ACURA', 'ZHONGNENG', 'OTHER US/AUST/CAN', 'MASSEY FERGUSON',
       'JIM STAR', 'HUONIAU', 'CZ', 'CIMOTORHOME', 'VELOCETTE', 'HYMER',
       'BOMBARDIER', 'PANTHER', 'KATO', 'R-VISION', 'CATERHAM', 'BULTACO',
       'SUNBEAM', 'OTHER JAPANESE/ASIAN', 'ERIK BUELL RACING', 'FARBOUD'],
      dtype=object)

array(['ALMERA SE AUTO', 'A4 SPORT CABRIOLET AUTO', 'VESPA ET4', ...,
       'FA XF95.430', 'DAILY 35 C14 MWB', 'STRALIS AD260S33Y/PS S-A'],
      dtype=object)

array(['Petrol', 'Heavy oil', 'Hybrid electric', 'Gas/Bi-fuel',
       'Petrol/Gas (LPG)', 'Gas', 'New fuel technology', 'Gas Diesel',
       'Electric diesel'], dtype=object)

array(['Female', 'Male', 'Not known', 'Data missing or out of range'],
      dtype=object)

array(['No tow/articulation', 'Other tow', 'Single trailer',
       'Articulated vehicle', 'Caravan', 'Double or multiple trailer',
       'Data missing or out of range'], dtype=object)

array(['Did not leave carriageway', 'Nearside', 'Offside',
       'Straight ahead at junction', 'Offside on to central reservation',
       'Offside - crossed central reservation',
       'Offside on to centrl res + rebounded', 'Nearside and rebounded',
       'Offside and rebounded', 'Data missing or out of range'],
      dtype=object)

array(['Going ahead other', 'Moving off', 'Parked', 'Turning left',
       'Turning right', 'Overtaking moving vehicle - offside', 'U-turn',
       'Waiting to go - held up', 'Overtaking static vehicle - offside',
       'Waiting to turn right', 'Going ahead left-hand bend',
       'Changing lane to right', 'Slowing or stopping',
       'Changing lane to left', 'Reversing', 'Overtaking - nearside',
       'Going ahead right-hand bend', 'Waiting to turn left',
       'Data missing or out of range'], dtype=object)

array(['Car', 'Motorcycle 125cc and under', 'Motorcycle over 500cc',
       'Motorcycle over 125cc and up to 500cc', 'Taxi/Private hire car',
       'Motorcycle 50cc and under', 'Van / Goods 3.5 tonnes mgw or under',
       'Minibus (8 - 16 passenger seats)',
       'Goods 7.5 tonnes mgw and over', 'Goods over 3.5t. and under 7.5t',
       'Other vehicle', 'Bus or coach (17 or more pass seats)',
       'Agricultural vehicle', 'Motorcycle - unknown cc',
       'Goods vehicle - unknown weight', 'Electric motorcycle'],
      dtype=object)

array(['No', 'Yes', 'Data missing or out of range'], dtype=object)

array(['Front', 'Did not impact', 'Back', 'Offside', 'Nearside',
       'Data missing or out of range'], dtype=object)

In [27]:
print("1st_Road_Class",":",(dataset["1st_Road_Class"]=='Unclassified').sum())
#print("Carriageway_Hazards",":",(dataset["Carriageway_Hazards"]=='Data missing or out of range').sum())
print("Junction_Control",":",(dataset["Junction_Control"]=='Data missing or out of range').sum())
print("Junction_Detail",":",(dataset["Junction_Detail"]=='Data missing or out of range').sum())
print("Light_Conditions",":",(dataset["Light_Conditions"]=='Data missing or out of range').sum())
print("Road_Surface_Conditions",":",(dataset["Road_Surface_Conditions"]=='Data missing or out of range').sum())
print("Road_Type",":",(dataset["Road_Type"]=='Unknown').sum())
#print("Special_Conditions_at_Site",":",(dataset["Special_Conditions_at_Site"]=='Data missing or out of range').sum())
print("Urban_or_Rural_Area",":",(dataset["Urban_or_Rural_Area"]=='Unallocated').sum())
print("Weather_Conditions",":",(dataset["Weather_Conditions"].isin(['Other','Unknown','Data missing or out of range'])).sum())
print("Age_Band_of_Driver",":",(dataset["Age_Band_of_Driver"].isin(['Data missing or out of range','11 - 15','6 - 10','0 - 5'])).sum())
print("Driver_Home_Area_Type",":",(dataset["Driver_Home_Area_Type"]=='Data missing or out of range').sum())
#print("Hit_Object_in_Carriageway",":",(dataset["Hit_Object_in_Carriageway"]=='Data missing or out of range').sum())
#print("Hit_Object_off_Carriageway",":",(dataset["Hit_Object_off_Carriageway"]=='Data missing or out of range').sum())
print("Journey_Purpose_of_Driver",":",(dataset["Journey_Purpose_of_Driver"].isin(['Other/Not known (2005-10)','Data missing or out of range','Not known','Other'])).sum())
print("Junction_Location",":",(dataset["Junction_Location"]=='Data missing or out of range').sum())
print("Sex_of_Driver",":",(dataset["Sex_of_Driver"].isin(['Not known','Data missing or out of range'])).sum())
#print("Skidding_and_Overturning",":",(dataset["Skidding_and_Overturning"]=='Data missing or out of range').sum())
print("Towing_and_Articulation",":",(dataset["Towing_and_Articulation"]=='Data missing or out of range').sum())
print("Vehicle_Leaving_Carriageway",":",(dataset["Vehicle_Leaving_Carriageway"]=='Data missing or out of range').sum())
print("Vehicle_Manoeuvre",":",(dataset["Vehicle_Manoeuvre"]=='Data missing or out of range').sum())
print("Was_Vehicle_Left_Hand_Drive",":",(dataset["Was_Vehicle_Left_Hand_Drive"]=='Data missing or out of range').sum())
print("X1st_Point_of_Impact",":",(dataset["X1st_Point_of_Impact"]=='Data missing or out of range').sum())

1st_Road_Class : 412850
Junction_Control : 558205
Junction_Detail : 30
Light_Conditions : 9
Road_Surface_Conditions : 2022
Road_Type : 7320
Urban_or_Rural_Area : 15
Weather_Conditions : 58394
Age_Band_of_Driver : 107721
Driver_Home_Area_Type : 196154
Journey_Purpose_of_Driver : 1157832
Junction_Location : 1955
Sex_of_Driver : 41936
Towing_and_Articulation : 167
Vehicle_Leaving_Carriageway : 66
Vehicle_Manoeuvre : 234
Was_Vehicle_Left_Hand_Drive : 5784
X1st_Point_of_Impact : 279

As with nulls, we will delete columns that contain mostly meaningless data. Otherwise, we will remove records with remaining meaningless values.

In [28]:
#drop variables that are unnecessary
dataset.drop("1st_Road_Class", axis=1, inplace=True)
dataset.drop("Junction_Control", axis=1, inplace=True)
dataset.drop("Journey_Purpose_of_Driver", axis=1, inplace=True)

In [29]:
dataset.shape

(1555129, 42)

In [30]:
#otherwise drop records with meaningless data
#dataset=dataset[dataset["Carriageway_Hazards"]!='Data missing or out of range']
dataset=dataset[dataset["Junction_Detail"]!='Data missing or out of range']
dataset=dataset[dataset["Light_Conditions"]!='Data missing or out of range']
dataset=dataset[dataset["Road_Surface_Conditions"]!='Data missing or out of range']
dataset=dataset[dataset["Road_Type"]!='Unknown']
#dataset=dataset[dataset["Special_Conditions_at_Site"]!='Data missing or out of range']
dataset=dataset[dataset["Urban_or_Rural_Area"]!='Unallocated']
dataset=dataset[~dataset["Weather_Conditions"].isin(['Other','Unknown','Data missing or out of range'])]
dataset=dataset[~dataset["Age_Band_of_Driver"].isin(['Data missing or out of range','11 - 15','6 - 10','0 - 5'])]
dataset=dataset[dataset["Driver_Home_Area_Type"]!='Data missing or out of range']
#dataset=dataset[dataset["Hit_Object_in_Carriageway"]!='Data missing or out of range']
#dataset=dataset[dataset["Hit_Object_off_Carriageway"]!='Data missing or out of range']
dataset=dataset[dataset["Junction_Location"]!='Data missing or out of range']
dataset=dataset[~dataset["Sex_of_Driver"].isin(['Not known','Data missing or out of range'])]
#dataset=dataset[dataset["Skidding_and_Overturning"]!='Data missing or out of range']
dataset=dataset[dataset["Towing_and_Articulation"]!='Data missing or out of range']
dataset=dataset[dataset["Vehicle_Leaving_Carriageway"]!='Data missing or out of range']
dataset=dataset[dataset["Vehicle_Manoeuvre"]!='Data missing or out of range']
dataset=dataset[dataset["Was_Vehicle_Left_Hand_Drive"]!='Data missing or out of range']
dataset=dataset[dataset["X1st_Point_of_Impact"]!='Data missing or out of range']

In [31]:
dataset.shape

(1263198, 42)

In [32]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1263198 entries, 2 to 2058407
Data columns (total 42 columns):
 #   Column                                       Non-Null Count    Dtype
---  ------                                       --------------    -----
 0   Accident_Severity                            1263198 non-null  object
 1   Date                                         1263198 non-null  object
 2   Day_of_Week                                  1263198 non-null  object
 3   Did_Police_Officer_Attend_Scene_of_Accident  1263198 non-null  float64
 4   Junction_Detail                              1263198 non-null  object
 5   Latitude                                     1263198 non-null  float64
 6   Light_Conditions                             1263198 non-null  object
 7   Local_Authority_(District)                   1263198 non-null  object
 8   Local_Authority_(Highway)                    1263198 non-null  object
 9   Location_Northing_OSGR                       1263198 non-null  float64
 10  Longitude                                    1263198 non-null  float64
 11  Number_of_Casualties                         1263198 non-null  int64
 12  Number_of_Vehicles                           1263198 non-null  int64
 13  Pedestrian_Crossing-Human_Control            1263198 non-null  float64
 14  Pedestrian_Crossing-Physical_Facilities      1263198 non-null  float64
 15  Police_Force                                 1263198 non-null  object
 16  Road_Surface_Conditions                      1263198 non-null  object
 17  Road_Type                                    1263198 non-null  object
 18  Speed_limit                                  1263198 non-null  float64
 19  Time                                         1263198 non-null  object
 20  Urban_or_Rural_Area                          1263198 non-null  object
 21  Weather_Conditions                           1263198 non-null  object
 22  Year_x                                       1263198 non-null  int64
 23  InScotland                                   1263198 non-null  object
 24  Age_Band_of_Driver                           1263198 non-null  object
 25  Age_of_Vehicle                               1263198 non-null  float64
 26  Driver_Home_Area_Type                        1263198 non-null  object
 27  Engine_Capacity_.CC.                         1263198 non-null  float64
 28  Junction_Location                            1263198 non-null  object
 29  make                                         1263198 non-null  object
 30  model                                        1263198 non-null  object
 31  Propulsion_Code                              1263198 non-null  object
 32  Sex_of_Driver                                1263198 non-null  object
 33  Towing_and_Articulation                      1263198 non-null  object
 34  Vehicle_Leaving_Carriageway                  1263198 non-null  object
 35  Vehicle_Location.Restricted_Lane             1263198 non-null  float64
 36  Vehicle_Manoeuvre                            1263198 non-null  object
 37  Vehicle_Reference                            1263198 non-null  int64
 38  Vehicle_Type                                 1263198 non-null  object
 39  Was_Vehicle_Left_Hand_Drive                  1263198 non-null  object
 40  X1st_Point_of_Impact                         1263198 non-null  object
 41  Year_y                                       1263198 non-null  int64
dtypes: float64(10), int64(5), object(27)
memory usage: 414.4+ MB

In [33]:
  #create a new target variable - Reduced target class from a multi-class classification to a binary classification 
# problem to handle the imbalanced dataset and simplify analysis
 

dataset.loc[dataset.Accident_Severity !='Slight', 'Target_Severe_Indicator'] = 1
dataset.loc[dataset.Accident_Severity =='Slight', 'Target_Severe_Indicator'] = 0

In [34]:
dataset["Target_Severe_Indicator"].value_counts()
dataset["Accident_Severity"].value_counts()

Target_Severe_Indicator
0.0    1084718
1.0     178480
Name: count, dtype: int64

Accident_Severity
Slight     1084718
Serious     162452
Fatal        16028
Name: count, dtype: int64

We see a slight improvement in the unique class counts

In [35]:
# Create new column for time of day category

# Define a function that turns the hours into daytime groups

def when_was_it(hour):
    if hour >= 5 and hour < 10:
        return "morning rush (5-10)"
    elif hour >= 10 and hour < 15:
        return "office hours (10-15)"
    elif hour >= 15 and hour < 19:
        return "afternoon rush (15-19)"
    elif hour >= 19 and hour < 23:
        return "evening (19-23)"
    else:
        return "night (23-5)"
    
# slice first and second string from time column
dataset['Hour'] = dataset['Time'].str[0:2]

# convert new column to numeric datetype
dataset['Hour'] = pd.to_numeric(dataset['Hour'])

# drop null values in our new column
dataset = dataset.dropna(subset=['Hour'])

# cast to integer values
dataset['Hour'] = dataset['Hour'].astype('int')

# apply thus function to our temporary hour column
dataset['Daytime'] = dataset['Hour'].apply(when_was_it)
dataset[['Time', 'Hour', 'Daytime']].head(8)

     Time  Hour                 Daytime
2   10:35    10    office hours (10-15)
4   12:40    12    office hours (10-15)
5   12:40    12    office hours (10-15)
7   20:40    20         evening (19-23)
8   17:35    17  afternoon rush (15-19)
9   00:42     0            night (23-5)
11  05:01     5     morning rush (5-10)
12  05:01     5     morning rush (5-10)

In [36]:
#drop Did_Police_Officer_Attend_Scene_of_Accident and Police_Force, as they are irrelevant. The dataset to begin
# with represents only those accidents reported by the police
dataset.drop("Did_Police_Officer_Attend_Scene_of_Accident", axis=1, inplace=True)
dataset.drop("Police_Force", axis=1, inplace=True)

#drop Time as Daytime is sufficient 
dataset.drop("Time", axis=1, inplace=True)


#drop Year_y as there is already a column called year_x containing the same info
dataset.drop("Year_y", axis=1, inplace=True)

In [37]:
#since 'model' is a more detailed version of 'make', drop 'model' and keep 'make'
dataset.drop("model", axis=1, inplace=True)

#we can drop inscotland, as the data contained in this column is higly skewed and will not proivde much info
dataset.drop("InScotland", axis=1, inplace=True)

#we can drop 'Vehicle_reference', due to high correlation with 'Number_of_Vehicles'
dataset.drop("Vehicle_Reference", axis=1, inplace=True)

#we can drop 'Local_Authority_(District)' since it is a more detailed version of 'Local_Authority_(Highway)'
dataset.drop("Local_Authority_(District)", axis=1, inplace=True)

In [38]:
dataset.shape

(1263198, 37)

In [41]:
#check correlation between 'Was_Vehicle_Left_Hand_Drive' and  'Target_Severe_Indicator'

dataset.loc[dataset['Was_Vehicle_Left_Hand_Drive'] == 'Yes', 'Was_Vehicle_Left_Hand_Drive_test'] = 1
dataset.loc[dataset['Was_Vehicle_Left_Hand_Drive'] == 'No', 'Was_Vehicle_Left_Hand_Drive_test'] = 0

x=dataset['Target_Severe_Indicator'].values
y=dataset['Was_Vehicle_Left_Hand_Drive_test'].values

np.corrcoef(x,y)

array([[ 1.        , -0.00107397],
       [-0.00107397,  1.        ]])

In [42]:
# Due to the low correlation with the target variable and high imbalance in values, we drop 'Was_Vehicle_Left_Hand_Drive'
dataset.drop("Was_Vehicle_Left_Hand_Drive", axis=1, inplace=True)

In [43]:
dataset.shape

(1263198, 37)

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1263198 entries, 2 to 2058407
Data columns (total 37 columns):
 #   Column                                   Non-Null Count    Dtype
---  ------                                   --------------    -----
 0   Accident_Severity                        1263198 non-null  object
 1   Date                                     1263198 non-null  object
 2   Day_of_Week                              1263198 non-null  object
 3   Junction_Detail                          1263198 non-null  object
 4   Latitude                                 1263198 non-null  float64
 5   Light_Conditions                         1263198 non-null  object
 6   Local_Authority_(Highway)                1263198 non-null  object
 7   Location_Northing_OSGR                   1263198 non-null  float64
 8   Longitude                                1263198 non-null  float64
 9   Number_of_Casualties                     1263198 non-null  int64
 10  Number_of_Vehicles                       1263198 non-null  int64
 11  Pedestrian_Crossing-Human_Control        1263198 non-null  float64
 12  Pedestrian_Crossing-Physical_Facilities  1263198 non-null  float64
 13  Road_Surface_Conditions                  1263198 non-null  object
 14  Road_Type                                1263198 non-null  object
 15  Speed_limit                              1263198 non-null  float64
 16  Urban_or_Rural_Area                      1263198 non-null  object
 17  Weather_Conditions                       1263198 non-null  object
 18  Year_x                                   1263198 non-null  int64
 19  Age_Band_of_Driver                       1263198 non-null  object
 20  Age_of_Vehicle                           1263198 non-null  float64
 21  Driver_Home_Area_Type                    1263198 non-null  object
 22  Engine_Capacity_.CC.                     1263198 non-null  float64
 23  Junction_Location                        1263198 non-null  object
 24  make                                     1263198 non-null  object
 25  Propulsion_Code                          1263198 non-null  object
 26  Sex_of_Driver                            1263198 non-null  object
 27  Towing_and_Articulation                  1263198 non-null  object
 28  Vehicle_Leaving_Carriageway              1263198 non-null  object
 29  Vehicle_Location.Restricted_Lane         1263198 non-null  float64
 30  Vehicle_Manoeuvre                        1263198 non-null  object
 31  Vehicle_Type                             1263198 non-null  object
 32  X1st_Point_of_Impact                     1263198 non-null  object
 33  Target_Severe_Indicator                  1263198 non-null  float64
 34  Hour                                     1263198 non-null  int64
 35  Daytime                                  1263198 non-null  object
 36  Was_Vehicle_Left_Hand_Drive_test         1263198 non-null  float64
dtypes: float64(11), int64(4), object(22)
memory usage: 366.2+ MB

In [45]:
# change numeric values in pedestrian crossing variables to categoric
# Converting numerical values present in these columns to a more meaninful form using data obtained from the data_dictionary

dataset.loc[dataset['Pedestrian_Crossing-Human_Control'] ==0, 'Ped_Cross_Human'] = 'None within 50 metres'
dataset.loc[dataset['Pedestrian_Crossing-Human_Control'] ==1, 'Ped_Cross_Human'] = 'Control by school crossing patrol'
dataset.loc[dataset['Pedestrian_Crossing-Human_Control'] ==2, 'Ped_Cross_Human'] = 'Control by other authorised person'


dataset.loc[dataset['Pedestrian_Crossing-Physical_Facilities'] ==0, 'Ped_Cross_Physical'] = 'No physical crossing facilities within 50 metres'
dataset.loc[dataset['Pedestrian_Crossing-Physical_Facilities'] ==1, 'Ped_Cross_Physical'] = 'Zebra'
dataset.loc[dataset['Pedestrian_Crossing-Physical_Facilities'] ==4, 'Ped_Cross_Physical'] = 'Pelican, puffin, toucan or similar non-junction pedestrian light crossing'
dataset.loc[dataset['Pedestrian_Crossing-Physical_Facilities'] ==5, 'Ped_Cross_Physical'] = 'Pedestrian phase at traffic signal junction'
dataset.loc[dataset['Pedestrian_Crossing-Physical_Facilities'] ==7, 'Ped_Cross_Physical'] = 'Footbridge or subway'
dataset.loc[dataset['Pedestrian_Crossing-Physical_Facilities'] ==8, 'Ped_Cross_Physical'] = 'Central refuge'

In [46]:
#and then we can drop the original pedestrian crossing variables
dataset.drop("Pedestrian_Crossing-Human_Control", axis=1, inplace=True)
dataset.drop("Pedestrian_Crossing-Physical_Facilities", axis=1, inplace=True)

In [47]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1263198 entries, 2 to 2058407
Data columns (total 37 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   Accident_Severity                 1263198 non-null  object
 1   Date                              1263198 non-null  object
 2   Day_of_Week                       1263198 non-null  object
 3   Junction_Detail                   1263198 non-null  object
 4   Latitude                          1263198 non-null  float64
 5   Light_Conditions                  1263198 non-null  object
 6   Local_Authority_(Highway)         1263198 non-null  object
 7   Location_Northing_OSGR            1263198 non-null  float64
 8   Longitude                         1263198 non-null  float64
 9   Number_of_Casualties              1263198 non-null  int64
 10  Number_of_Vehicles                1263198 non-null  int64
 11  Road_Surface_Conditions           1263198 non-null  object
 12  Road_Type                         1263198 non-null  object
 13  Speed_limit                       1263198 non-null  float64
 14  Urban_or_Rural_Area               1263198 non-null  object
 15  Weather_Conditions                1263198 non-null  object
 16  Year_x                            1263198 non-null  int64
 17  Age_Band_of_Driver                1263198 non-null  object
 18  Age_of_Vehicle                    1263198 non-null  float64
 19  Driver_Home_Area_Type             1263198 non-null  object
 20  Engine_Capacity_.CC.              1263198 non-null  float64
 21  Junction_Location                 1263198 non-null  object
 22  make                              1263198 non-null  object
 23  Propulsion_Code                   1263198 non-null  object
 24  Sex_of_Driver                     1263198 non-null  object
 25  Towing_and_Articulation           1263198 non-null  object
 26  Vehicle_Leaving_Carriageway       1263198 non-null  object
 27  Vehicle_Location.Restricted_Lane  1263198 non-null  float64
 28  Vehicle_Manoeuvre                 1263198 non-null  object
 29  Vehicle_Type                      1263198 non-null  object
 30  X1st_Point_of_Impact              1263198 non-null  object
 31  Target_Severe_Indicator           1263198 non-null  float64
 32  Hour                              1263198 non-null  int64
 33  Daytime                           1263198 non-null  object
 34  Was_Vehicle_Left_Hand_Drive_test  1263198 non-null  float64
 35  Ped_Cross_Human                   1263198 non-null  object
 36  Ped_Cross_Physical                1263198 non-null  object
dtypes: float64(9), int64(4), object(24)
memory usage: 366.2+ MB

In [49]:
#Change categorical variables with order to numeric
dataset['Age_Band_of_Driver'].unique()

array(['46 - 55', '26 - 35', '36 - 45', '66 - 75', '56 - 65', '21 - 25',
       '16 - 20', 'Over 75'], dtype=object)

In [50]:
dataset.loc[dataset['Age_Band_of_Driver'] =='16 - 20', 'Age_Band_of_Driver_order'] = 1
dataset.loc[dataset['Age_Band_of_Driver'] =='21 - 25', 'Age_Band_of_Driver_order'] = 2
dataset.loc[dataset['Age_Band_of_Driver'] =='26 - 35', 'Age_Band_of_Driver_order'] = 3
dataset.loc[dataset['Age_Band_of_Driver'] =='36 - 45', 'Age_Band_of_Driver_order'] = 4
dataset.loc[dataset['Age_Band_of_Driver'] =='46 - 55', 'Age_Band_of_Driver_order'] = 5
dataset.loc[dataset['Age_Band_of_Driver'] =='56 - 65', 'Age_Band_of_Driver_order'] = 6
dataset.loc[dataset['Age_Band_of_Driver'] =='66 - 75', 'Age_Band_of_Driver_order'] = 7
dataset.loc[dataset['Age_Band_of_Driver'] =='Over 75', 'Age_Band_of_Driver_order'] = 8

In [51]:
dataset.drop("Age_Band_of_Driver", axis=1, inplace=True)

In [52]:
dataset.shape

(1263198, 37)

In [53]:
eda_data_1=dataset.copy()